/* styles from GFC Github */

table.gfc-table-stripes tr:nth-child(odd) {
    background-color: #eee;
}

/* overrride table styles for news item listings and sponsor listings page, also a generic gfc-secrettable-item for misc */
#pnlSections>.contentSection>.contentFragment table.gfc-news-item:not(.noFrills)>tbody>tr>*, 
#pnlSections>.contentSection>.contentFragment table.gfc-news-item:not(.noFrills)>thead>tr>*,
#pnlSections>.contentSection>.contentFragment table.gfc-sponsor-item:not(.noFrills)>tbody>tr>*, 
#pnlSections>.contentSection>.contentFragment table.gfc-sponsor-item:not(.noFrills)>thead>tr>*,
#pnlSections>.contentSection>.contentFragment table.gfc-secret-table-item:not(.noFrills)>tbody>tr>*, 
#pnlSections>.contentSection>.contentFragment table.gfc-secret-table-item:not(.noFrills)>thead>tr>* {
    border:none; /* removed the grey border */
}
#pnlSections>.contentSection>.contentFragment table.gfc-news-item:not(.noFrills)>tbody>tr>:first-child, 
#pnlSections>.contentSection>.contentFragment table.gfc-news-item:not(.noFrills)>thead>tr>:first-child {
    width: 150px; /* cell for the thumbnail image */
}
#pnlSections>.contentSection>.contentFragment table.gfc-sponsor-item:not(.noFrills)>tbody>tr>:first-child, 
#pnlSections>.contentSection>.contentFragment table.gfc-sponsor-item:not(.noFrills)>thead>tr>:first-child {
    width: 170px; /* cell for the thumbnail image */
}
/* news only */
table.gfc-news-item {
    font-style: italic; /* this is for the date but applied to everything */
}
table.gfc-news-item a {
    font-style: normal; /* this is to fix everything and leave the date italic */
}
/* sponsors only */
table.gfc-sponsor-item td {
    vertical-align:top; /* seems to be middle otherwise */
}
/* improve the link styles */

#main a:hover,
#main a:active,
#main a:focus {
	color: orange;
	text-decoration: underline;
}

/* Fix the iframe width for the Greengate Pass*/
#pnlSections > .contentSection > .contentFragment #gg-pass-frame {
	max-width: 315px;
}
